.not-found {
    text-align: center;
    top: 40%;
    position: relative;
}

.page-title {
    margin-bottom: 10%;
    font-size: calc(30vw - 20%);
    color: #032E7A;
 }
 .subtitle {
   font-size: 1rem;
   color: gray;
 }