<div class="form-field login">
    <mat-form-field appearance="legacy" class="email-field">
        <mat-label>Email</mat-label>
        <input matInput
                [formControl]="email"
                type="email"
                placeholder="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="password-field">
        <mat-label>Password</mat-label>
        <input matInput
                [formControl]="password"
                type="password"
                placeholder="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field>
    <button mat-raised-button
            class="login-button"
            (click)="login()">
        Login
    </button>
    <button mat-raised-button 
            class="sign-up" 
            routerLink="/sign-up">
        Sign Up
    </button>
</div>
<router-outlet></router-outlet>