/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

// $primary: #032E7A;
// $accent: #5EBA7D;
// $warn: #C3002F;
// $white: #fff;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-field {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50vw;
    
    mat-form-field{
        width: 100%;
    }
    
    button {
        margin: 5vh 0 0;
        width: 20vw;
    }
}

.spacer {
    flex: 1 1 auto;
}

.drawer-container {
    width: 100vw;
    height: 100vh;
}
  
mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-nav {
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
}

.side-nav-header {
    height: 56px;
    background-color: #032E7A;
}

.mat-drawer-inner-container {
    background-color: #f3f3f3;
}